main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Style du formulaire */
form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #ffffff;
    padding: 0 5px;
    color: #666;
    font-size: 14px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
    width:100%;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-link {
    color: #fff;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.form-check-input {
    margin-left: 0;
    margin-right: 5px;
}

.form-check-label {
    font-size: 14px;
    color: #333;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}