/* Réinitialisation de certains styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 2vw;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}

#nomAsso{
	font-size : 2rem;
	text-align:center;
}

/* Styles pour une meilleure réactivité */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding:2vh;
    }

    nav ul {
        width: 100%;
        flex-wrap: wrap;
    	justify-content: space-evenly;
    }

    nav ul li {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    nav ul li a {
        display: block;
        width: 100%;
        text-align: center;
        padding:0;
    }
    
}
